<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <nav class="header__content">
                <a href="/" class="header__logo">CAZINTOP</a>
            </nav>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section main-section">
            <!--<svg class="main-section__background">
                <use xlink:href="img/spritemap.svg#sprite-flag-symbol"></use>
            </svg>-->

            <div class="container">
                <div class="main-section__content">
                    <h1 class="main-section__title">Discover the Five Highest-Rated Adventure Game in India</h1>

                    <p class="main-section__text">Choose and Enjoy the Top Entertainments: This Week's Selection</p>

                    <div class="top-game">
                        <div class="top-game__box">
                            <picture class="top-game__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_01.png') %>" alt="" title="">
                            </picture>

                            <div class="top-game__rate">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </div>

                            <a href="#" class="top-game__button">Play</a>
                        </div>

                        <div class="top-game__box">
                            <picture class="top-game__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_02.png') %>" alt="" title="">
                            </picture>

                            <div class="top-game__rate">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </div>

                            <a href="#" class="top-game__button">Play</a>
                        </div>

                        <div class="top-game__box">
                            <picture class="top-game__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_03.png') %>" alt="" title="">
                            </picture>

                            <div class="top-game__rate">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </div>

                            <a href="#" class="top-game__button">Play</a>
                        </div>

                        <div class="top-game__box">
                            <picture class="top-game__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_04.png') %>" alt="" title="">
                            </picture>

                            <div class="top-game__rate">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </div>

                            <a href="#" class="top-game__button">Play</a>
                        </div>

                        <div class="top-game__box">
                            <picture class="top-game__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_05.png') %>" alt="" title="">
                            </picture>

                            <div class="top-game__rate">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </div>

                            <a href="#" class="top-game__button">Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-games">
            <div class="container">
                <h2 class="section-games__title">Our list has been tested and chosen by our team of experts so that you can enjoy the best experience</h2>

                <div class="games">
                    <div class="games__box">
                        <picture class="games__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_01.png') %>" alt="" title="">
                        </picture>
                        <div class="games__content"></div>
                        <div class="games__buttons">
                            <a href="#" class="games__button">read more</a>
                        </div>
                    </div>

                    <div class="games__box">
                        <picture class="games__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_02.png') %>" alt="" title="">
                        </picture>
                        <div class="games__content"></div>
                        <div class="games__buttons">
                            <a href="#" class="games__button">read more</a>
                        </div>
                    </div>

                    <div class="games__box">
                        <picture class="games__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_03.png') %>" alt="" title="">
                        </picture>
                        <div class="games__content"></div>
                        <div class="games__buttons">
                            <a href="#" class="games__button">read more</a>
                        </div>
                    </div>

                    <div class="games__box">
                        <picture class="games__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_04.png') %>" alt="" title="">
                        </picture>
                        <div class="games__content"></div>
                        <div class="games__buttons">
                            <a href="#" class="games__button">read more</a>
                        </div>
                    </div>

                    <div class="games__box">
                        <picture class="games__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/game_05.png') %>" alt="" title="">
                        </picture>
                        <div class="games__content"></div>
                        <div class="games__buttons">
                            <a href="#" class="games__button">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <a href="/" class="footer__logo">CAZINTOP</a>

                <div class="footer-info">
                    <div class="footer-info__box">
                        <p class="footer-info__box-title">Acceptance of Terms:</p>
                        <p class="footer-info__box-text">By accessing and using our website, you agree to abide by these Terms and Conditions and any future amendments. If you do not agree, please refrain from using our website.</p>
                    </div>

                    <div class="footer-info__box">
                        <p class="footer-info__box-title">Privacy Policy:</p>
                        <p class="footer-info__box-text">We respect your privacy and handle your personal information in accordance with our Privacy Policy. By using our website, you consent to the collection, use, and storage of your information as outlined in the Privacy Policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>
<!-- BODY END   -->
</body>
</html>
